.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

section a {
    color: #054752;
}

section p {
    color: rgb(112, 140, 145);
}

footer a {
    color: #054752;
}

footer p {
    color: rgb(112, 140, 145);
}

.bg-footer {
    background-color: #EDEDED;
}

.mainContent {
    min-height: 85vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.fieldSearch {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 54px;
    background-color: rgb(237, 237, 237);
    color: rgb(5, 71, 82);
    font-size: 16px;
    line-height: 54px;
    padding: 0px 16px;
    border-radius: 16px;
    text-decoration: none;
}

.fieldSearchInput {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 54px;
    background-color: rgb(237, 237, 237);
    color: rgb(5, 71, 82);
    font-size: 16px;
    line-height: 54px;
    padding: 0px 16px;
    border-radius: 16px !important;
    border: 0px !important;
    text-decoration: none;
}

.button-classic {
    background-color: rgb(0, 175, 245);
    color: rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    min-height: 48px;
    min-width: 48px;
    max-width: 100%;
    user-select: none;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 48px;
    text-decoration: none;
    overflow: hidden;
    transition: max-width 500ms ease-in 0s, background-color 200ms ease-in 0s;
}

.titleSearch {
    text-align: center;
    font-size: 30px;
    margin: 48px 0px;
    color: rgb(5, 71, 82);
    font-size: 30px;
    font-weight: 500;
    line-height: 1.06;
}

@media (orientation: landscape) { 
    .centeredSearch {
        margin-left: auto;
        margin-right: auto;
        max-width: 45vw;
    }
}

@media (orientation: portrait) {
    .centeredSearch {
        margin-left: auto;
        margin-right: auto;
        max-width: 90vw;
    }
}

@media (orientation: landscape) { 

    .header-content {
        color: #ffffff;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 2;
        background: linear-gradient(0deg, rgba(0, 0, 0, .4) 72%, rgba(0, 0, 0, .2) 85%, rgba(0, 0, 0, 0) 100%);
    }

    .header-title {
        font-size: 3em;
        font-weight: 700;
        margin: 0%;
    }

    .header-subtitle {
        font-size: 1.25em;
        font-weight: 600;
    }

    .motto-index-0 {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }

    .motto-index-0 h4 {
        font-weight: 700;
        font-size: 1.45em;
        color: #21314D;
    }

    .motto-index-0 p {
        font-size: 17px;
        line-height: 1.5em;
        color: #8C8A8C;
    }

    .motto-title {
        color: #21314D;
        font-size: 2em;
        font-weight: 700;
    }
    
    .motto-text {
        color: #8C8A8C;
        font-size: 1.2em;
    }

    .motto-content {
        max-width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
        margin-bottom: auto;
    }

    .motto-img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}

@media (orientation: portrait) {

    .header-content {
        color: #ffffff;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 2;
        padding-left: 5%;
        padding-right: 5%;
        background: linear-gradient(0deg, rgba(0, 0, 0, .4) 72%, rgba(0, 0, 0, .2) 85%, rgba(0, 0, 0, 0) 100%);
    }

    .header-title {
        font-size: 2em;
        font-weight: 700;
        margin: 0%;
    }

    .header-subtitle {
        font-size: 1.1em;
        font-weight: 600;
    }

    .motto-index-0 {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }

    .motto-index-0 h4 {
        font-weight: 700;
        font-size: 1.45em;
        color: #21314D;
    }

    .motto-index-0 p {
        font-size: 17px;
        line-height: 1.5em;
        color: #8C8A8C;
    }
    
    .motto-title {
        color: #21314D;
        font-size: 1.7em;
        font-weight: 700;
    }
    
    .motto-text {
        color: #8C8A8C;
        font-size: 0.9em;
    }

    .motto-content {
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .motto-img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}

a, u {
    text-decoration: none !important;
}

.fieldSearchWrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    color: rgb(5, 71, 82);
    background-color: rgb(237, 237, 237);
    box-shadow: none;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 237, 237);
    border-image: initial;
}

.title-login {
    text-align: center;
    font-size: 1.25em;
    margin: 2% 0px;
    font-weight: 500;
}

.navbar a {
    color: #00AFF5 !important;
    cursor: pointer;
}

.bg-white {
    background-color: #ffffff!important;
    font-weight: 700;
}

.seats {
    background-color: #ffffff !important;
    color: #054752;
    font-weight: 600;
    font-size: 1.1em;
}

@media (orientation: landscape) {
    .motto {
        height: 70vh; 
    }

    .motto-text {
        background-color: rgb(245, 246, 247);
        max-height: 100%;
    }
}

@media (orientation: portrait) {
    .motto {
        height: 25vh; 
    }

    .motto-text {
        background-color: rgb(245, 246, 247);
        max-height: 100%;
    }
}

@media (orientation: landscape) {
    .header-img {
        height: 75vh; 
    }
}

@media (orientation: portrait) {
    .header-img {
        height: 45vh; 
    }
}